<h1>Tournaments</h1>

<ul>
<% @tournaments.each do |tourney| %>
    <li>
        Organization: <%= link_to tourney.organization, tournament_path(tourney.id) %><br>
        Date: <%= tourney.date %><br>
        Registration Open: <%= tourney.registration_open %><br>
        Registration Close: <%= tourney.registration_close %><br>
        <%= link_to "Edit", edit_tournament_path(tourney) %>
        <%= button_to "Delete", tourney, method: :delete %><br><br>
    </li>
<% end %>
</ul>
<%= link_to "Add Tournament", new_tournament_path %>