<!DOCTYPE html>
<html>
  <head>
    <title>OssCombate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <% if logged_in? %>
        <%= link_to current_user.full_name, user_path(current_user) %>
      <% else %>
        <%= link_to "Login", login_path %>
        <%= link_to "Signup", signup_path %>
      <% end %>
      <%= link_to "Tournaments", tournaments_path %>
    </div>
    <%= yield %>
  </body>
</html>
